.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #3f3d56;
  text-align: center;
}

p {
  color: #ccc;
  text-align: center;
}
